body {
  background:linear-gradient(-45deg, rgba(62, 225, 208, 0.862),rgb(102, 184, 213));
}
h1{
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
}
.form-holder {
  border: 5px;
  border-color: blue;
}
h2{
  background-color: whitesmoke;
  font-size: 15px;
  padding-top: 5px;
}
.user-input {
  display: grid;
  justify-content: center;
  align-items: center;
}
.user-result {
  display: grid;
  justify-content: center;
  align-items: center;
}

.head-holder {
  color: rgb(131, 127, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}
#label-element {
  color: black;
  margin-bottom: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

.all-input {
  background-color:smokewhite;
  border: 5px;
  border-radius: 50px;
  color: rgb(115, 88, 233);
  border-color: black;
  height: 25px;
  width: 350px;
  padding-left: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
.btn {
  border-radius:50px;
   background-color: rgba(24, 238, 225, 0.52); 
  padding: 7px;
  margin-left: 100px;
  width: 100px;
  background-color: rgba(66, 146, 221, 0.286);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
  position: relative;
  padding: 10px 20px;
  border-radius: 7px;
  border: 1px solid rgb(61, 106, 255);
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  background: transparent;
  color: #000000;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

button:hover {
  background: rgb(61, 106, 255);
  box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

button:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
}

button::before {
  content: '';
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #000000;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

button:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}
